.concert p {
  margin-bottom: 30px;
  position: absolute;
}

.concert h1 {
  margin: 325px 0 125px 125px;
  font-size: 160px;
}

.concert-image-content {
  position: relative;
}

.concert-image-content img {
  filter: blur(20px);
}

.concert-text {
  position: absolute;
  left: 20%;
  top: 45%;
}

.concert-text p {
  font-family: Scandia-Regular;
  font-size: 46px;
  letter-spacing: -1.58px;
}
