.expo {
  margin: 0 120px 0 120px;
}

.expo p {
  font-family: Scandia-Light;
  font-size: 40px;
  letter-spacing: -1.09px;
}

.expo-text-content {
  margin-top: 180px;
}

.expo-photo img {
  height: 550px;
  margin: 30px;
  border-radius: 25px;
  filter: blur(50px);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

@media (max-width: 2080px) {
  .expo-photo img {
    height: 330px;
  }
}

.expo-photo img:hover {
  filter: blur(0px);
}

.expo-photo {
  padding: 100px 0 0 200px;
  cursor: none;
}

@media (max-width: 2080px) {
  .expo-photo {
    padding-top: 200px;
  }
}

.expo,
.col-4 {
  margin-right: 100px;
}
