footer {
  margin-top: 225px;
  padding: 30px;
}

footer a {
  font-size: 30px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 150px;
}

.footer-content-special {
  font-family: scandia-web, sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 150px 0 150px 0;
  opacity: 0.5;
  text-align: center;
}
