#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

header {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.title-header {
  margin: 430px 20px 260px 195px;
  padding: 1px 50px;
  border-left: solid #00fbff 3px;
}

@media (max-width: 2080px) {
  .title-header {
    margin: 330px 20px 260px 100px;
  }
}

.title-header img {
  height: 250px;
}

@media (max-width: 2080px) {
  .title-header img {
    height: 200px;
  }
}

.title-header h1 {
  font-family: scandia-web, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 170px;
  color: #ffffff;
  letter-spacing: -4.38px;
  margin-top: 10px;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  cursor: none;
}

.title-header h1 {
  text-shadow: 0px 0px #00fbff, 0px 0px #00fbff, 0px 0px #00fbff,
    0px 0px #00fbff;

  &:hover {
    text-shadow: -1px -1px #00fbff, -2px -2px #00fbff, -3px -3px #00fbff,
      -4px -4px #00fbff;
  }
}

@media (max-width: 2080px) {
  .title-header h1 {
    font-size: 120px;
  }
}
