.portfolio .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.portfolio {
  margin-bottom: 600px;
  padding: 20px 0 50px;
  cursor: none;
}

.portfolio img {
  border-radius: 260px;
  height: 550px;
  margin-top: 50px;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

@media (max-width: 2080px) {
  .portfolio img {
    height: 400px;
  }
}

.port-1:hover {
  box-shadow: 0 2px 20px 3px rgba(255, 209, 0, 0.5);
}

.port-2:hover {
  box-shadow: 0 2px 20px 3px rgba(255, 255, 255, 0.5);
}

.port-3:hover {
  box-shadow: 0 2px 20px 3px rgba(255, 98, 0, 0.5);
}

.port-4:hover {
  box-shadow: 0 2px 20px 3px rgba(255, 0, 0, 0.76);
}

.port-5:hover {
  box-shadow: 0 2px 20px 3px rgba(81, 0, 255, 0.762);
}

.port-6:hover {
  box-shadow: 0 2px 20px 3px rgba(179, 0, 255, 0.716);
}
