.text-presentation {
  margin-top: 306px;
}

.text-presentation img {
  width: 900px;
}

.text-presentation p {
  margin-top: 100px;
}

@media (max-width: 2080px) {
  .text-presentation p {
    margin-top: 150px;
    font-size: 22px;
  }
}
