.program {
  margin: 650px 0 650px 0;
}

.program h1 {
  margin-left: 120px;
  margin-bottom: 370px;
}

.program a {
  font-size: 125px;
  letter-spacing: -3.72px;
  margin-right: 100px;
  padding: 38px 23px;
  border: 1px solid #c6f2ed;
  border-radius: 19px;
}

.program a:hover {
  opacity: 99%;
  border-radius: 19px;
}

.blanco:hover {
  background: rgba(198, 242, 237, 0.239);
}

.blueberry:hover {
  background: rgba(22, 49, 81, 0.835);
}

.bluesky:hover {
  background: rgba(0, 251, 255, 0.2);
}

.program-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
