.program {
  margin: 650px 0 650px 0;
}

.program,
.col-3 > a {
  font-size: 85px;
  letter-spacing: -3.72px;
  margin-right: 100px;
}

.program,
.col-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
