/* ====================================
// css variables
// ==================================== */

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  background: black;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: none;
}

a {
  font-family: scandia-web, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  letter-spacing: -0.88px;
  text-align: center;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

a:hover {
  opacity: 0.5;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

p {
  font-family: scandia-web, sans-serif;
  font-weight: 400;
  font-size: 23px;
}

h1 {
  font-family: scandia-web, sans-serif;
  font-weight: 400;
  font-size: 95px;
}

h2 {
  font-family: Scandia-Bold;
  font-size: 50px;
  letter-spacing: -1.58px;
}
/* ====================================
// base rules
// ==================================== */

// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

.reveal {
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

::selection {
  color: black;
  background: #00fbff;
}
